{% extends '@Admin/layout/dashboard.html.twig' %}

{% block body %}

    <h2>Admin panel home page</h2>
    <h4>Here are some useful tips for you:</h4>

    <hr>

    <p>
        To change admin panel home page (this page) — create next file:<br>
        <code>templates/bundles/AdminBundle/index.html.twig</code><br><br>

        Use this starting template for it:<br>
        <code>
            {&#37 extends '@Admin/layout/dashboard.html.twig' &#37}<br>
            {&#37 block body &#37}<br>
                This is the body content<br>
            {&#37 endblock &#37}<br>
        </code>
    </p>

    <hr>
{% endblock %}