<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>{% block page_tilte %}{% endblock %}</title>


    <link href="{{ asset('bundles/platform/libs/a2bootstrap/bootstrap.min.css') }}"
          rel="stylesheet">

    <link href="{{ asset('bundles/platform/libs/a2bootstrap/bootstrap.customized.css') }}"
          rel="stylesheet">

    {% block stylesheets %}
    {% endblock %}

</head>
<body class="{% block body_classes %}bg-light{% endblock %}">

<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <div class="page-body-holder" style="min-width: 300px">
        {% block page_body %}
        {% endblock %}
    </div>
</div>

{% block javascripts %}
{% endblock %}

</body>
</html>